<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/style1.css">
  <link rel="stylesheet" href="/static/css/style3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title> wabsite</title>
  </head>
  <body>


     <!-- Header Start -->
     <header class="site-header">
      <div class="wrapper site-header__wrapper">
        <div class="site-header__start">
          <a href="#" class="brand">
            <img src="/static/img/Online Education Badge Logo.png" alt="">

          </a>
        </div>
        <div class="site-header__middle">
          <nav class="nav">
            <button class="nav__toggle" aria-expanded="false" type="button">
              menu
            </button>
            <ul class="nav__wrapper">
              <li class="nav__item"><a href="{% url 'index'%}">Home</a></li>
              <li class="nav__item"><a href="{% url 'about'%}">About</a></li>
              <li class="nav__item"><a href="{% url 'admission'%}">Admission</a></li>
              <li class="nav__item"><a href="{% url 'index'%}#form" >Enquiry</a></li>
              <li class="nav__item"><a href="#contact">Contact us</a></li>
            </ul>
          </nav>
        </div>
        <div class="site-header__end">
          <a class="button" href="{% url 'signup' %}">Sign in</a>
          <a class="button" href="{% url 'login' %}">log in</a>

        </div>
      </div>
    </header>

    
    <a href="#">
         <img  class="school-img" src="/static/img/scba.png" alt=""
         >
        </a>

</div class="about">
<p class="school-aboutp">About us</p>

<p class="school-ap">Krishna School is a beacon of educational excellence, dedicated to nurturing young minds and empowering them to reach their full potential. With a rich history of academic achievement and a commitment to holistic development, Krishna School provides a supportive and inspiring learning environment. Our passionate educators employ innovative teaching methods and a well-rounded curriculum that not only fosters academic success but also instills values and critical thinking skills. At Krishna School, we believe in cultivating future leaders who are not just knowledgeable but also compassionate, creative, and ready to embrace the challenges of a rapidly changing world. Join us on a journey of discovery and growth, where each student's unique talents are celebrated, and their dreams are encouraged to flourish.</p>
</div>

</div>

<section class="about-s">
  <div class="vision">
  <h1>
    Our Vision
  </h1>
  <p>At Krishna Public School, we envision a world where every student is empowered with knowledge and skills, capable of contributing positively to society and becoming a responsible global citizen. We aim to provide a holistic education that goes
     beyond textbooks, fostering creativity, critical thinking, and a love for learning.</p>
  </div>

  <div class="mission">
    <h1>Our Mission</h1>
    <p>Our mission is to empower students with a strong educational foundation, instill values, and help them discover their true potential. We are dedicated to:</p>
 <p>1  Academic Excellence: We strive to provide a curriculum that is both challenging and enriching, ensuring that our students achieve their academic goals.</p>
    <p>2   Character Development: We believe in the importance of values such as integrity, empathy, and respect, and we work to instill these qualities in our students</p>
   
   <p>3   Holistic Growth: Our approach to education encompasses not only academics but also extracurricular activities, sports, and arts to develop well-rounded individuals.</p> 
    <p>4   Global Perspective: We aim to nurture an international outlook, enabling our students to thrive in a globalized world.</p>
   
 
  
  </div>
  <div class="faculty">
    <h1>Our Faculty</h1>
    <p>Our modern and well-equipped campus provides a conducive environment for learning. Our facilities include well-maintained classrooms, science and computer labs, a library, a sports complex, and spaces for cultural and artistic activities.</p>
  </div>
</section>


    <footer class="footer">
        <div class="footer__addr">
          <h1 class="footer__logo"><img src="/static/img/Online Education Badge Logo.png" alt=""></h1>
              
          <h2>Contact</h2>
          
          <address>
             Plot no-75 Ramgarh cantoment ramgarh jharkhand 829122<br>
                
            <a class="footer__btn" href="mailto:example@gmail.com">Email Us</a>
      
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-linkedin"></a>
            <a href="#" class="fa fa-youtube"></a>
      
            
          </address>
      
      
      
        </div>

        <section id="contact">
        <ul class="footer__nav">
          <li class="nav__item">
            <h2 class="nav__title">Addmission</h2>
      
            <ul class="nav__ul">
              <li>
                <a href="#">Addmission process</a>
              </li>
      
              <li>
                <a href="#">Fee payment</a>
              </li>
                  
              <li>
                <a href="#">Programs</a>
              </li>
            </ul>
          </li>
          
          <li class="nav__item nav__item--extra">
            <h2 class="nav__title">Support</h2>
            
            <ul class="nav__ul nav__ul--extra">
              <li>
                <a href="#">Ragistration</a>
              </li>
              
              <li>
                <a href="#">Log in</a>
              </li>
              
              <li>
                <a href="#">Sign up</a>
              </li>
              
              <li>
                <a href="#">Complain</a>
              </li>
              
              <li>
                <a href="#">Enquiry-form</a>
              </li>
              
              <li>
                <a href="#">NEP</a>
              </li>
            </ul>
          </li>
          
          <li class="nav__item">
            <h2 class="nav__title">Legal</h2>
            
            <ul class="nav__ul">
              <li>
                <a href="#">Privacy Policy</a>
              </li>
              
              <li>
                <a href="#">Terms of Use</a>
              </li>
              
              <li>
                <a href="#">Sitemap</a>
              </li>
            </ul>
          </li>
        </ul>
        
        <div class="legal">
          <p>&copy; 2023 Something. All rights reserved.</p>
          
          <div class="legal__links">
            <span>Made with <span class="heart">♥</span> krishna tech </span>
          </div>
        </div>
      </footer>
    </section>
    <!-- javaScript; choose one of the two! -->  

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    -->
    <script src="/static/js/script.js"></script>
  </body>
</html>