

<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
 <link rel="stylesheet"  href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/style1.css">
  <link rel="stylesheet" href="/static/css/style3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
  <title> wabsite</title>

  </head>
  <body>
    <saction>
     <!-- Header Start -->
     <header class="site-header">
      <div class="wrapper site-header__wrapper">
        <div class="site-header__start">
          <a href="#" class="brand">
            <img src="/static/img/Online Education Badge Logo.png" alt="">

          </a>
        </div>
        <div class="site-header__midde">
          <nav class="nav">
            <button class="nav__toggle  btn btn-primary " aria-expanded="false" type="button">
              menu
            </button>
            <ul class="nav__wrapper">
              <li class="nav__item"><a href="{% url 'index'%} ">Home</a></li>
              <li class="nav__item"><a href="{% url 'about'%}">About</a></li>
              <li class="nav__item"><a href="{% url 'admission'%}">Admission</a></li>
              <li class="nav__item"><a href="#form">Enquiry</a></li>
              <li class="nav__item"><a href="#contact">Contact us</a></li>
            </ul>
          </nav>
        </div>
        <div class="site-header__end">
          <a class="btn btn-primary log-inbtn " href=" {% url 'login' %} ">log in</button></a>
          <a class="btn btn-primary sign-upbtn " href ="{% url 'signup' %}">Sign in</a>
          <!-- <a class="button" href="#">log in</a> -->

        </div>
      </div>
    </header>
    
    <!-- Header End -->
   
    </saction>

<div class="banar">
      <div class="img-banar">
        <img src="/static/img/student-removebg-preview.png" alt="">
        </div>
      
        <div class="jumbotron">
          <h1 class="display-3">KRISHNA PUBLIC SCHOOL</h1>
          <p class="lead">Where performing arts and learning take center stage!</p>
          <hr class="my-4">
          <div class="banar-button">
            <a class="btn btn-primary btn-lg"  role="button" href ="{% url 'signup' %}">Registration
          </a>
          <a class="btn btn-primary btn-lg" role="button"  href="#contact" >Contact us
          </a>
          

        </div>
        </div>
      </div>
      
  <div class="OurPrograms">

    <div>
      <h1>Our Pre-school Programs</h1>
      </div>
    </div>
<div class="card-container">
 <div class="card" style="background-color: rgb(67, 32, 205);">
 <a href="#"> <img src="/static/img/p1.png" alt=""style="width: 100%;" >
 </a>
  <h1 class=" animate__animated animate__bounce">Playgroup</h1>
 
  <p>In the playgroup level, the young learners develop their latent language .</p>
  <div class="card-card  ">
    <div class="leftcard   " >
      <p style="color: black;">Age Group</p>
      <p style="color: black;">1.5 - 2.5 Years*</p>
  
    </div>
    <div class="rightcard">
      <p style="color: black;">Duration</p>
      <p style="color: black;">2 hours 45 minutes/day</p>
  
    </div>
  </div>
  
  <p><button>Read more</button></p>
</div>
<div class="card " style="background-color: yellow;">
 <a href="#"><img src="/static/img/p2.png" alt=""style="width: 100%;" >
 </a>
  <h1 style="color: black;">Nursery</h1>
<p style="color: black;">The nursery level engages children in school and theme based activities </p>


<div class="card-card">
  <div class="leftcard" >
    <p style="color: black;">Age Group</p>
    <p style="color: black;">2.5 - 3.5 Years</p>

  </div>
  <div class="rightcard">
    <p style="color: black;">Duration</p>
    <p style="color: black;">2 hours 45 minutes/day</p>

  </div>

</div>
  <p><button>Read more</button></p>
</div>
<div class="card " style="background-color: rgb(52, 182, 80);">
  
<a href="#"><img src="/static/img/p3.png" alt="" style="width: 100%;">
</a>
  <h1>Kindergarten</h1>
 <p>The Kindergarten (KG) level ensures a smooth transition to formal schooling.  </p>
 <div class="card-card">
  <div class="leftcard" >
    <p style="color: black;">Age Group</p>
    <p style="color: black;">3.5 - 5.5Years</p>

  </div>
  <div class="rightcard">
    <p style="color: black;">Duration</p>
    <p style="color: black;">3 hours 45 minutes/day</p>

  </div>
</div>


  <p><button>Read more</button></p>
</div>


</div>

<!-- card eliment end -->



<div class="desc"> 

  <div class="add-logo">
    <img src="/static/img/addlogo.png" alt="">
  
  </div>

  <img src="/static/img/Online Education Badge Logo.png" alt="">
 
  <div class="jumbotron jumbotron-fluid">
    <div class="container-1">
     <h1 class="display-4">KRISHNA PUBLIC SCHOOL</h1>
      <p class="lead">Where performing arts and learning take center stage.</p>
      <button class="btn btn-primary btn-group-lg"><a style="color:white;"  href="{% url 'admission'%}">Apply here</a> </button>
    </div>
  </div>
 
</div>

<div class="flipcard">

<div class="sf">
  <h1 class="animate__animated animate__backOutLeft">School facility</h1></div>


<div class="fcard">
  
  <div class="flip-card ">
    <div class="flip-card-inner"  style="margin: auto;">
      <div class="flip-card-front  ">
        <img src="/static/img/helth icon.png" alt="Avatar" style="width:100px;height: 100px;">

        <P>
          Health Chackup
        </P>
      </div>
      <div class="flip-card-back">
        
        <p>We organize regular health check-up camps for providing a healthy playschool environment to the little ones.</p>
      
      </div>
    </div>
  </div>
  <div class="flip-card  ">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="/static/img/icon1plaly.png" alt="Avatar" style="width:100px;height:100px;">
        <p>play-way Mathod</p>
      </div>
      <div class="flip-card-back">
        
        <p>We focus on developing a child holistically using play-way methods and do not enforce learning through books only</p>
        
      </div>
    </div>
  </div>
  <div class="flip-card   ">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="/static/img/tech k.png" alt="Avatar" style="width:100px;height:100px;">
        <p>Teaching aids</p>
      </div>
      <div class="flip-card-back">
       
        <p>Our specialized teaching aids help in imparting the lessons with efficiency and effectiveness for better retention.</p>
        
      </div>
    </div>
  </div>
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="/static/img/trep.png" alt="Avatar" style="width:100px;height:100px;">

        <p>After School</p>
      </div>
      <div class="flip-card-back">
    
        <p>Our programs such as Saturday Club and Activity Junction helps in engaging children in the after-school liveliness.</p>
       
      </div>
    </div>
  </div>


</div>


<div class="addh"><h1>
  Admission process
</h1>
</div>

<div class="addmissionprocess">

  

<div class="addp">
  <p>Only completely filled Registration forms will be accepted with the following documents:</p>
  
    <ol >
      
      <li> Two recent passport size photographs</li>
      <li>  Copy of Birth Certificate (Nursery to standard 1st)</li>
      <li>Residence Proof (Local)</li>
      <li>Copy of Mark Sheet/Progress Report of the last class passed (Not for Nursery)</li>
      <li>Having a Certificate in original (Std. 2nd and above) signed by D.E.O. or authority of the board to which last attended school was affiliated.Copy of Caste Certificate</li>
      <li>Copy of Caste Certificate</li>
    </0l>
   
    

  <div>
    <button class="btn btn-primary btn-group-lg"><a style="color:white;"  href="{% url 'admission'%}">Apply here</a> </button>
  </div>

</div>
<div class="addi">
  <a href="#">
    <img src="/static/img/admission-process.png" alt="">
  </a>



</div>

</div>


<!-- enquiry form -->


<saction id="form">
<div class="enquiry-form">

  <div>

    <h1 class="  animate__animated animate__backInDown" >Enquiry Form</h1>
  </div>
<div>
  <div class="form-container">
    {{n}}
    <form action="{% url 'enquiryForm' %}" method="POST">
    {% csrf_token %}
      <div class="row">
        <div class="col-25">
          <label for="fname">First Name</label>
        </div>
        <div class="col-75">
          <input type="text" id="fname" name="firstname" placeholder="Your name..">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">Last Name</label>
        </div>
        <div class="col-75">
          <input type="text" id="lname" name="lastname" placeholder="Your last name..">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">Mobile no..</label>
        </div>
        <div class="col-75">
          <input type="text" id="lname" name="mobile_no" placeholder="Mobile no....">
        </div>
      </div>
       
      <div class="row">
        <div class="col-25">
          <label for="country">Type</label>
        </div>
        <div class="col-75">
          <select id="country" name="type">
            <option value="STUDENT">STUDENT</option>
            <option value="PARENT">PARENTS</option>
            <option value="OTHER">OTHER</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="subject">Comment</label>
        </div>
        <div class="col-75">
          <textarea id="subject" name="textcomment" placeholder="Write something.." style="height:200px"></textarea>
        </div>
      </div>
      <div class="row">
        <input type="submit" value="Submit">
      </div>
    </form>
  </div>
</div>

</div>
</saction>
<!-- enquiry form -->

<!-- footer start -->
<saction id="contact">
<footer class="footer">
  <div class="footer__addr">
    <h1 class="footer__logo"><img src="/static/img/Online Education Badge Logo.png" alt=""></h1>
        
    <h2>Contact</h2>
    
    <address>
       Plot no-75 Ramgarh cantoment ramgarh jharkhand 829122<br>
          
      <a class="footer__btn" href="mailto:example@gmail.com">Email Us</a>

      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-linkedin"></a>
      <a href="#" class="fa fa-youtube"></a>

      
    </address>



  </div>
  
  <ul class="footer__nav">
    <li class="nav__item">
      <h2 class="nav__title">Admission</h2>

      <ul class="nav__ul">
        <li>
          <a href="#">Admission process</a>
        </li>

        <li>
          <a href="#">Fee payment</a>
        </li>
            
        <li>
          <a href="#">Programs</a>
        </li>
      </ul>
    </li>
    
    <li class="nav__item nav__item--extra">
      <h2 class="nav__title">Support</h2>
      
      <ul class="nav__ul nav__ul--extra">
        <li>
          <a href="#">Registration</a>
        </li>
        
        <li>
          <a href="#">Log in</a>
        </li>
        
        <li>
          <a href="#">Sign up</a>
        </li>
        
        <li>
          <a href="#">Complain</a>
        </li>
        
        <li>
          <a href="#">Enquiry-form</a>
        </li>
        
        <li>
          <a href="#">NEP</a>
        </li>
      </ul>
    </li>
    
    <li class="nav__item">
      <h2 class="nav__title">Legal</h2>
      
      <ul class="nav__ul">
        <li>
          <a href="#">Privacy Policy</a>
        </li>
        
        <li>
          <a href="#">Terms of Use</a>
        </li>
        
        <li>
          <a href="#">Sitemap</a>
        </li>
      </ul>
    </li>
  </ul>
  
  <div class="legal">
    <p>&copy; 2023 Something. All rights reserved.</p>
    
    <div class="legal__links">
      <span>Made with <span class="heart">♥_</span>SanTach</span>
    </div>
  </div>
</footer>
</saction>
<!-- footer end -->
<!-- 
JavaScript; choose one of the two! --> 

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    -->
    <script src="/static/js/script.js"></script>
  </body>
</html>